* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  background: #ffffff;
  color: #fff; }

p, span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px; }

header {
  width: 100%;
  background-size: cover;
  display: flex;
  background-image: url("../img/m-h-day.jpg");
  border-radius: 0 0 35% 0; }
  header .header-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
    padding: 24px 0 180px; }
  header p {
    color: #2c2f3c; }

.button, .header_button, .section_banner_button {
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 12px 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  background-color: #699900; }

.landing-logo {
  display: flex;
  box-sizing: border-box;
  align-items: center; }
  .landing-logo img {
    margin-right: 15px; }
  .landing-logo p {
    font-size: 23px;
    font-weight: 600;
    text-align: center; }
  .landing-logo span {
    display: block;
    font-size: 10px;
    font-weight: 300;
    font-family: "Hind", sans-serif; }

.header_heading {
  font-size: 70px;
  font-weight: 800;
  max-width: 500px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 60px;
  line-height: 1; }
  .header_heading:after {
    content: "";
    display: block;
    width: 293px;
    height: 20px;
    background-color: #14a0c7;
    position: absolute;
    bottom: 4px;
    z-index: -1; }

.header_text {
  white-space: pre-line;
  line-height: 1.5;
  margin-bottom: 55px; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.section_text {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  margin: 35px 0;
  color: #2c2f3c;
  position: relative; }
  .section_text:after {
    content: "";
    display: block;
    width: 170px;
    height: 15px;
    background-color: #14a0c7;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    right: 0;
    margin-right: 10px; }

.section_card_wrap {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1140px;
  box-sizing: border-box; }
  .section_card_wrap .section_card {
    background-color: #21232e;
    padding-top: 15px;
    width: 100%;
    max-width: 370px;
    border-radius: 10px;
    z-index: -2;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; }
    .section_card_wrap .section_card .section_card_heading {
      font-size: 22px;
      font-weight: 600;
      color: #ffffff;
      margin-top: 12px;
      position: relative; }
      .section_card_wrap .section_card .section_card_heading:after {
        content: "";
        display: block;
        width: 100%;
        height: 7px;
        background-color: #14a0c7;
        position: absolute;
        bottom: 5px;
        z-index: -1; }
    .section_card_wrap .section_card img {
      border-radius: 5px;
      width: 100%;
      border-radius: inherit;
      position: relative; }
    .section_card_wrap .section_card .section_card_text {
      text-align: center;
      font-family: "Hind", sans-serif;
      color: #c0c3ce;
      margin: 15px 25px 25px 25px;
      font-size: 13px; }

.footer {
  width: 100%;
  background: #21232e;
  color: #c0c3ce;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  padding-bottom: 30px;
  padding-top: 100px; }

.footer-wrap {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

.footer_logo {
  width: max-content;
  height: max-content; }
  .footer_logo p span {
    font-weight: 600; }

.footer_text {
  max-width: 265px;
  height: max-content;
  font-size: 12px;
  line-height: 1.5; }

.footer-cr {
  height: max-content;
  color: #C0C3CE;
  font-size: 14px; }

.section_banner {
  width: 840px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  background: linear-gradient(45deg, #689803, #2c5adb);
  margin: 120px 0 -63px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box; }

.section_banner_heading {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 1;
  position: relative;
  color: #2c2f3c; }
  .section_banner_heading:after {
    content: "";
    display: block;
    width: 51px;
    height: 9px;
    background-color: #14a0c7;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    margin-left: 97px; }

.section_banner_text {
  font-family: "Hind", sans-serif;
  color: #c0c3ce;
  font-size: 14px;
  margin-top: 15px; }
