$font-main: 'Source Sans Pro', sans-serif;
$font-add: 'Fresca', sans-serif;

$backgroundPath: '../img/m-h-night.jpg';

$header-color: #ffffff;
$button-color: #e3ac00;
$header-underline: #ff4e33;
$card-background: #3b3f50;
$footer-background: $card-background;
$font-footer-color: #c0c3ce;
$font-card-color: $font-footer-color;
$backgroundBody: #21232e;

$gradient: (from:#e1a803, to:#912b53)