$font-main: 'Source Sans Pro', sans-serif;
$font-add: 'Hind', sans-serif;

$backgroundPath: '../img/m-h-day.jpg';

$header-color: #2c2f3c;
$button-color: #699900;
$header-underline: #14a0c7;
$card-background: #21232e;
$footer-background: $card-background;
$font-footer-color: #c0c3ce;
$font-card-color: $font-footer-color;
$backgroundBody: #ffffff;

$gradient: (from:#689803, to:#2c5adb)